.Birthday {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.delete-bday-btn {
  border: none;
  background-color: white;
  color: #5DE1E6;
  font-size: 24px;
  font-weight: bold;
}

.delete-bday-btn:hover {
  color: #FFBF97;
}
