* {
  font-family: 'IBM Plex Mono', monospace;
}

.App {
  background-image: url('../../images/confetti_background.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 300px;
  height: 100vh;
  padding: 15px;
}

h1 {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  border: 7px solid black;
  padding: 15px;
  width: 30%;
  margin: auto;
}
